body {
  margin: 10% 5%;
  padding: 0;
}
#background {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 40%;
  z-index: -1;
  filter: blur(30px) saturate(80%);
}
img {
  height: 150%;
}
.display {
  text-align: center;
}
.display h1 {
  display: inline;
  vertical-align: middle;
  margin: 0 20px;
  padding: 0 10px;
  border: 0.5px solid red;
}
button.pause {
  height: 25px;
  width: 25px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 0.2px solid darkgray;
  vertical-align: middle;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3); 
}
/* p#stop-text {
  position: absolute;
  display: inline;
  margin-left: -35px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
} */
p#pause-text {
  position: absolute;
  display: inline;
  margin-top: 25px;
  margin-left: -38px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
/* button#stop {
  font-size: 1em;
} */
button#pause {
  padding-bottom: 5px;
}
/* .display p#stop-text {
  visibility: hidden;
} */
.display p#pause-text {
  visibility: hidden;
}
/* .display:hover button#stop {
  visibility: hidden;
} */
/* .display:hover p#stop-text {
  visibility: visible;
  cursor: pointer;
} */
.display:hover button#pause {
  visibility: hidden;
}
.display:hover p#pause-text {
  visibility: visible;
  cursor: pointer;
}
h1 {
  font-variant: small-caps;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 3em;
}
.redT {
  color: tomato;
}
h1.display_time {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 3em;
}
h3, h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
.timer_controls {
  display: flex;
  width: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
.timer_controls button {
  width: 25%;
  height: 40px;
  border-top: none;
  border-bottom: none;;
  border-left: none;
  border-right: 0.5px solid rgba(255, 255, 255, 0.8);
  background-color: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
  outline: none;
}
.timer_controls button:hover {
  background-color: slategray;
}
.timer_controls button:focus {
  background-color: lightgray;
  color: black;
}
.to-dos {
  width: 100%;
  height: 40px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}
form {
  width: 100%;
  height: 40px;
}
input[type="text"] {
  height: 95%;
  width: 100%;
  border: none;
  background-color: #dacdc7;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  outline: none;
}
input[name='todo'] {
  background-color: black;
  color: white;
}
::-webkit-input-placeholder { /* Chrome */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color:black;
}
::-moz-placeholder { /* Firefox 19+ */
  color:black;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}
input[name='todo']::-webkit-input-placeholder { /* Chrome */
  color: white;
}
input[name='todo']:-ms-input-placeholder { /* IE 10+ */
  color:white;
}
input[name='todo']::-moz-placeholder { /* Firefox 19+ */
  color:white;
  opacity: 1;
}
input[name='todo']:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
input[name='todo']:focus {
  background-color: white;
  color: black;
}
input[name='minutes']:focus {
  background-color: black;
  color: white;
}
ul {
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  text-align: left;
  padding: 0;
}
input[type="checkbox"] {
  position: relative;
  margin: 0 0 0 15px;
  top: 8px;
  height: 25px;
  width: 25px;
  z-index: 1;
  cursor: pointer;
}
@media only screen and (max-width: 535px) {
  input[name='minutes'] {
    font-size: 1em;
  }
}
